n8n-workflows/publer-instagram-threads-autoposter.json
{
    "name": "Phuket Radar - Instagram & Threads Auto-Poster (via Publer)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 30
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Every 30 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT id, title, excerpt, facebook_headline, image_url, image_urls, category, slug, interest_score FROM articles WHERE is_published = true AND instagram_post_id IS NULL AND interest_score >= 4 AND image_url IS NOT NULL AND is_manually_created = false AND published_at > NOW() - INTERVAL '24 hours' ORDER BY interest_score DESC, published_at DESC LIMIT 1;",
                "options": {}
            },
            "id": "fetch-article",
            "name": "Fetch Article",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                220,
                0
            ],
            "credentials": {
                "postgres": {
                    "id": "IC2VuxPYhOIGxyyH",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-result",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "has-article",
            "name": "Has Article?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Publer API credentials\nconst PUBLER_API_KEY = 'e8bcee4e3d98779e9cde07c17c527eded20fe72151c9be0c';\nconst PUBLER_WORKSPACE_ID = '693f80c4702206b9560c6b76';\nconst PUBLER_INSTAGRAM_ACCOUNT_ID = '693f85f7b6fa709ab8fa5ec4';\nconst PUBLER_THREADS_ACCOUNT_ID = '693f86f67acbb31e7e4bad61';\n\nconst article = $input.first().json;\n\n// Helper to convert WebP to JPG for Publer\nconst convertToJpg = (url) => {\n  if (url && url.includes('cloudinary.com') && url.endsWith('.webp')) {\n    return url.replace('/upload/', '/upload/f_jpg/').replace('.webp', '.jpg');\n  }\n  return url;\n};\n\n// Collect all image URLs (use image_urls if available, otherwise just image_url)\nlet imageUrls = [];\nif (article.image_urls && Array.isArray(article.image_urls) && article.image_urls.length > 0) {\n  imageUrls = article.image_urls.slice(0, 10).map(convertToJpg);\n} else if (article.image_url) {\n  imageUrls = [convertToJpg(article.image_url)];\n}\n\nif (imageUrls.length === 0) {\n  throw new Error('No images available for this article');\n}\n\n// Build article URL\nconst categorySlug = (article.category || 'news').toLowerCase().replace(/\\s+/g, '-');\nconst articleUrl = `https://phuketradar.com/${categorySlug}/${article.slug}-${article.id}`;\nconst headline = article.facebook_headline || article.title;\n\n// Instagram caption - NO clickable links, point to bio\nconst instagramCaption = `${headline}\\n\\n${article.excerpt || ''}\\n\\n📰 Tap the link in Bio for the full story\\n\\n#Phuket #PhuketNews #Thailand #PhuketLife`;\n\n// Threads caption - keep the URL\nlet threadsText = `${headline}\\n\\n📰 ${articleUrl}\\n\\n#Phuket #PhuketNews`;\nif (threadsText.length > 500) threadsText = `${headline.substring(0, 300)}...\\n\\n📰 ${articleUrl}`;\n\nconst headers = {\n  'Authorization': `Bearer-API ${PUBLER_API_KEY}`,\n  'Publer-Workspace-Id': PUBLER_WORKSPACE_ID,\n  'Content-Type': 'application/json'\n};\n\nconst sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));\n\n// Step 1: Upload all media\nconsole.log('Uploading', imageUrls.length, 'images...');\nconst uploadResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://app.publer.com/api/v1/media/from-url',\n  headers: headers,\n  body: { \n    media: imageUrls.map((url, i) => ({ \n      url: url, \n      name: `phuket-radar-news-${i}`, \n      type: 'image', \n      in_library: false \n    }))\n  },\n  json: true\n});\nconsole.log('Upload job_id:', uploadResponse.job_id);\n\n// Poll for all media uploads\nlet mediaIds = [];\nfor (let i = 0; i < 20; i++) {\n  await sleep(2000);\n  const statusResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://app.publer.com/api/v1/job_status/${uploadResponse.job_id}`,\n    headers: headers,\n    json: true\n  });\n  if (statusResponse.status === 'complete' && statusResponse.payload?.length > 0) {\n    mediaIds = statusResponse.payload.map(p => p.id).filter(Boolean);\n    if (mediaIds.length === imageUrls.length) break;\n  }\n}\n\nif (mediaIds.length === 0) {\n  throw new Error('Media upload failed');\n}\nconsole.log('Media IDs:', mediaIds);\n\n// Determine post type: carousel if multiple images, photo if single\nconst postType = mediaIds.length > 1 ? 'carousel' : 'photo';\nconsole.log('Post type:', postType);\n\n// Step 2: Post to Instagram\nconsole.log('Posting to Instagram...');\nconst igResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://app.publer.com/api/v1/posts/schedule/publish',\n  headers: headers,\n  body: {\n    bulk: {\n      state: 'scheduled',\n      posts: [{\n        networks: {\n          instagram: {\n            type: postType,\n            text: instagramCaption,\n            media: mediaIds.map(id => ({ id }))\n          }\n        },\n        accounts: [{ id: PUBLER_INSTAGRAM_ACCOUNT_ID }]\n      }]\n    }\n  },\n  json: true\n});\nconsole.log('IG job_id:', igResponse.job_id);\n\n// Poll for IG post status\nlet igPostId = null;\nfor (let i = 0; i < 15; i++) {\n  await sleep(2000);\n  const jobResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://app.publer.com/api/v1/job_status/${igResponse.job_id}`,\n    headers: headers,\n    json: true\n  });\n  if (jobResponse.status === 'complete') {\n    igPostId = jobResponse.payload?.[0]?.post?.id || igResponse.job_id;\n    break;\n  }\n}\nconsole.log('IG Post ID:', igPostId);\n\n// Step 3: Post to Threads (with carousel support)\nconsole.log('Posting to Threads...');\nconst thResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://app.publer.com/api/v1/posts/schedule/publish',\n  headers: headers,\n  body: {\n    bulk: {\n      state: 'scheduled',\n      posts: [{\n        networks: {\n          threads: {\n            type: postType,\n            text: threadsText,\n            media: mediaIds.map(id => ({ id }))\n          }\n        },\n        accounts: [{ id: PUBLER_THREADS_ACCOUNT_ID }]\n      }]\n    }\n  },\n  json: true\n});\nconsole.log('Threads job_id:', thResponse.job_id);\n\n// Poll for Threads post status\nlet thPostId = null;\nfor (let i = 0; i < 15; i++) {\n  await sleep(2000);\n  const jobResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://app.publer.com/api/v1/job_status/${thResponse.job_id}`,\n    headers: headers,\n    json: true\n  });\n  if (jobResponse.status === 'complete') {\n    thPostId = jobResponse.payload?.[0]?.post?.id || thResponse.job_id;\n    break;\n  }\n}\nconsole.log('Threads Post ID:', thPostId);\n\nreturn {\n  articleId: article.id,\n  instagramPostId: igPostId,\n  threadsPostId: thPostId,\n  imageCount: mediaIds.length,\n  success: true\n};"
            },
            "id": "post-to-publer",
            "name": "Post to Publer (All-in-One)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                -100
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE articles SET instagram_post_id = '{{ $json.instagramPostId }}', threads_post_id = '{{ $json.threadsPostId }}' WHERE id = '{{ $json.articleId }}';",
                "options": {}
            },
            "id": "update-db",
            "name": "Update Database",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                880,
                -100
            ],
            "credentials": {
                "postgres": {
                    "id": "IC2VuxPYhOIGxyyH",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {},
            "id": "no-articles",
            "name": "No Articles",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                660,
                100
            ]
        }
    ],
    "connections": {
        "Every 30 Minutes": {
            "main": [
                [
                    {
                        "node": "Fetch Article",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Article": {
            "main": [
                [
                    {
                        "node": "Has Article?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Article?": {
            "main": [
                [
                    {
                        "node": "Post to Publer (All-in-One)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Articles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to Publer (All-in-One)": {
            "main": [
                [
                    {
                        "node": "Update Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "phuket-radar-publer"
    },
    "tags": []
}